
<p></p>
<p></p>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="~/Content/meradia-globe.png" />
        </div>
        <div class="col-md-10">
            <h1>Meradia Consultant Center</h1>
        </div>
    </div>
    <p class="lead">
        Hello, -consultant_name- This is where you enter your TimeSlips, and maintain your CV Profil.
    </p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                 <h3 class="panel-title">My Timeslips</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Hours This Week</dt>
                    <dd>80 hours</dd>
                    <dt>Vacation Days Available</dt>
                    <dd>5</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">My Profile</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Date of Last Edit</dt>
                    <dd>Like, ages ago!</dd>
                    <dt>Application Count</dt>
                    <dd>16</dd>
                </dl>
            </div>
        </div>
    </div>
</div>